header {
    background: url("../img/home-img.png") no-repeat;
    .logo {
        overflow: hidden;
        padding-top: 25px;
        padding-bottom: 37px;
        a {
            display: block;
            float: left;
            img {
                margin-top: 8px;
                margin-bottom: 25px;
            }
        }
        .nav {
            float: right;
            li {
                display: inline-block;
                a {
                    display: block;
                    color: white;
                    padding: 10px 15px;
                    border-radius: 5px;
                    &:hover {
                        background-color: #A2A2A2;

                    }
                }
                .but {
                    border: 1px solid #f9fafe;
                    padding: 10px 40px;
                }
            }
        }
    }
    .wrap {
        @include title;
        .form-element {
            margin: 0 auto;
            max-width: 732px;
            text-align: center;
            padding-bottom: 230px;
            overflow: hidden;
            input {
                width: 639px;
                height: 61px;
                border-radius: 5px;
                border: none;
                float: left;
                padding-left: 50px;
            }
            a {
                margin-left: -500px;
                color: white;
                padding: 21px 30px;
                background-color: #e7434e;
                border-radius: 0 5px 5px 0;
                float: right;
            }
        }

    }
    .numb {
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
        padding: 30px 0;
        position: relative;
        bottom: 25px;
        .numbers {
            margin-bottom: 0;
            padding-left: 0;
            list-style: none;
            li {
                width: 290px;
                text-align: center;
                display: inline-block;
                border-right: 1px solid #d4d4d4;
                .number {
                    display: block;
                    margin-top: 10px;
                    color: #343434;
                }
                .bottom {
                    margin-top: 17px;
                    margin-bottom: 14px;
                    color: #717171;
                    display: block;
                    font: 400 18px / 18px $open-sans;

                }
            }
            .non-bord {
                border: none;
            }
        }
    }
}