.wrap {
    margin: 0 auto;
    text-align: center;
    max-width: 1175px;
}
.top-destination {
    padding-bottom: 95px;
    text-align: center;
    .wrap {
        @include title-box;
        .destination-flex-conteiner {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 87px;
            padding-left: 0;
            @include button;
            li {
                margin: 10px;
                padding: 30px;
                text-align: left;
                padding-top: 40px;
                border-radius: 5px;
                list-style: none;
                min-width: 369px;
                .countries {
                    margin-top: 200px;
                    color: white;
                }
            }
            .portugal {
                flex-grow: 2;
                flex-basis: 750px;
                background: url("../img/figueria.png") no-repeat;
            }
            .spain {
                flex-grow: 1;
                background: url("../img/ibiza.png") no-repeat;
            }
            .spain2 {
                flex-grow: 1;
                background: url("../img/palma.png") no-repeat;
            }
            .italy {
                flex-grow: 1;
                background: url("../img/portofino.png") no-repeat;
            }
            .monaco {
                flex-grow: 1;
                background: url("../img/hercules.png") no-repeat;
            }
        }
        @include white-button;
    }
}
.have-boat {
    background: url("../img/make-photo.png") no-repeat;
    overflow: hidden;
    padding-bottom: 163px;
    .wrap {
        @include title;
        a {
            color: white;
            text-transform: uppercase;
            padding: 25px 45px;
            background-color: #e7434e;
            border-radius: 5px;
            text-decoration: none;
        }
    }
}
.feature {
    .wrap {
        @include title-box;
        .feature-flex-conteiner {
            padding-left: 0;
            list-style: none;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-bottom: 100px;
            @include button;
            .flex-block {
                height: 340px;
                width: 561px;
                text-align: left;
                min-width: 320px;
                padding: 30px;
                margin: 13px;
                border-radius: 5px;
                a {
                    width: 101px;
                }
                .boat-name {
                    margin-top: 182px;
                    h2 {
                        margin-bottom: 15px;
                        color: white;
                    }
                    .map-and-users {
                        padding-left: 0;
                        list-style: none;
                        li {
                            span {

                            }
                        }
                        .map {
                            padding: 0;
                            margin: 0;
                            margin-right: 25px;
                            display: inline-block;
                            color: white;
                            height: 20px;
                        }
                        .users {
                            margin: 0;
                            padding: 0;
                            color: white;
                            height: 20px;
                            display: inline-block;
                            max-width: 100px;
                        }
                    }
                }
            }
            .delphia-47 {
                background: url("../img/delphia.png");
            }
            .sense-55 {
                background: url("../img/sense.png");
            }
            .crusier-51 {
                background: url("../img/crusier.png");
            }
            .crusier-41S {
                background: url("../img/crusiec415.png");
            }
        }
        @include white-button;
    }
}